# Virtual environment
venv/

# Data files
data/raw/
data/processed/train_clean.csv
data/processed/daily_sales_store1.csv
data/processed/metrics_summary.csv
data/processed/model_comparison.csv
data/processed/oil_clean.csv

# Model files
models/*.pkl
models/*.keras
models/*.h5
models/*.json

# Mac files
.DS_Store
**/.DS_Store

# Jupyter
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc