# Virtual environment
venv/

# Data files
data/raw/

# Model files
models/*.pkl
models/*.keras
models/*.h5
models/*.json

# Mac files
.DS_Store
**/.DS_Store

# Jupyter
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc